.card {
  margin-top: 0.6rem;
  color: $white-color;
  border-bottom: 10px solid $gray-color;
}

.container {
  width: 85%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.txt {
  display: flex;
  flex-direction: column;

  &-main {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  &-sub {
    font-size: 1.7rem;
  }
}

.media {
  position: relative;

  &-img {
    max-width: 100%;
  }

  &-vid {
    position: absolute;
    max-width: 73%;
    top: 20%;
    left: 13%;
  }
}
