.entry {
  width: 100%;
  height: 100%;

  &-image {
    width: 100%;
    height: 100%;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/3b48f428-24ed-4692-bb04-bc7771854131/fb5674c7-afc0-4c05-9f06-ef601019b114/KR-en-20200302-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  }
}
