.nav {
  margin: 0;
  display: flex;
  background-color: orange;
  padding: 1rem 3rem;

  &-title {
    font-size: 2.5rem;
    color: $primary-color;
    margin: 0;
    padding: 0;
    flex: 1;
  }
}
