.nav {
  margin: 0;
  display: flex;
  // background-color: orange;
  padding: 1rem 3rem;

  &-title {
    font-size: 3rem;
    font-weight: 900;
    color: $primary-color;
    margin: 0;
    padding: 0;
    flex: 1;
  }

  &-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-auth {
    @include primary-button();
  }

  &-auth:nth-child(1) {
    margin-right: 1rem;
  }
}
